p, h2{
  margin: 0;
}

.image-cont{
  overflow: hidden;
  height: 180px;
  border-radius: 10px;
}

.price{
  font-size: 18px;
  margin: 10px 0 2px 0;
}

.title{
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.iva{
  font-size: 10px;
  margin: 0 0 10px 0;
}
